# Testing and report 

Turn off the switch of the prototype home automation
Turn on the bluetooth of your andriod phone
search for new bluetooth device from your andriod phone . you will find a bluetooth device with the name HC-05
Click on the connect/pair device option. The default pin for HC-05 is 1234 or 0000
After connceting to bluetooth module HC-05, open the home automation app on the andriod phone
Click connect to Arduino . after few seconds the app connects to the Arduino
Then the user can turn on/off the toilet , sitting room and dinning room, kitchen and bedroom light by clicking on each and every room's off and on button
the door can be opened by clicking on the door open button and closed by the door close button 
The user can disconnect the bluetooth by clicking the disconnect Arduino in the app
